<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/inicio']">
      <img
        src="../assets/img/logo-lve.png"
        width="auto"
        height="50"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/inicio']"
            *ngIf="identity && identity.firstname"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/courses']"
            *ngIf="identity && identity.firstname"
            >Cursos</a
          >
        </li>
      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Identificate</a>
        </li>
      </ul>
      <ul
        class="navbar-nav navbar-right"
        *ngIf="identity && identity.firstname"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="{{ identity.userpictureurl }}"
              class="rounded-circle z-depth-0 md-avatar"
            />
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">{{
              identity.firstname + " " + identity.lastname
            }}</a>
            <a class="dropdown-item" href="#">Calificaciones</a>
            <a class="dropdown-item" href="#">Mensajes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Preferencias</a>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>

</div>
